@import '../../styles/variables';
.section {
  background-image: url('../../images/\ background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  padding-top: 50px;
  font-family: $font-primary;
  color: $accent-color;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 1.5px;
  font-size: 25px;
  margin-right: 5px;
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    padding-top: 100px;
  }
  @media screen and (max-width: 1443px) and (min-width: 1024px) {
    padding-top: 160px;
    margin-right: 10px;
    font-size: 50px;
  }
  @media (min-width: 1444px) {
    padding-top: 193px;
    letter-spacing: 3.5px;
    font-size: 50px;
    margin-left: 674px;
    margin-right: 33px;
  }
}

.text {
  padding-top: 25px;
  font-family: $font-primary;
  letter-spacing: 0.3px;
  color: $secondary-text-color;
  text-align: right;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 20px;
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    padding-top: 44px;
    margin-bottom: 50px;
    letter-spacing: 0.6px;
    font-size: 30px;
  }

  @media screen and (max-width: 1443px) and (min-width: 1024px) {
    padding-top: 44px;
    letter-spacing: 0.6px;
    font-size: 30px;
    margin-left: 250px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  @media (min-width: 1444px) {
    padding-top: 44px;
    letter-spacing: 0.6px;
    font-size: 30px;
    margin-left: 674px;
    margin-right: 33px;
    margin-bottom: 50px;
  }
}
